body {
  font-size: .875rem;
  
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */

}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  
  background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
  box-shadow:  20px 20px 60px #b6b6b6, 
               -20px -20px 60px #f6f6f6;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 10px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}



.nav-link{
  cursor: pointer;
  font-size: 20px;
}
.side-link:hover{
 
  background-color:#007bff !important;
  color:white !important;
  padding-left: 50px;
  transform: scale(1.09);
}

.admin-panel-ul{
  margin-top: 55px;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: #999;

}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.admin-ham-btn{
  margin-top: 25px;
}
.active{
  background-color:#007bff;
  color:#fff !important;
  transform: scale(1);

}

#admin-panel-switcher{
  max-width: 100%;
  min-height: 820px;
  margin: 5px; 
  padding: 20px 0px 20px 20px;
  border-radius: 10px;
  background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
  box-shadow:  20px 20px 60px #b6b6b6, 
               -20px -20px 60px #f6f6f6;
  overflow-x: hidden;
  
          
}


#admin-new-service,#old-post-list{
  width:98%;

}
#old-post-list{
margin-top: 60px;
}
table {
  margin-top: 70px;
  margin-left: -10px;
  border-collapse: collapse;
  width: 98%;

}

td, th {
  
  text-align: left;
  padding: 8px;
}
.patient-list{
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9, 
               -20px -20px 60px #ffffff;
}


#left{

float: left;
}

#right {

  float: right;
}
.admin-service-category{

  margin-top: 80px;
  width: 100%;
 

}


#blah{
      
  max-width:450px;

}

#myChart{
  padding-right: 30px;
}
@media screen and (max-width: 480px)  {


  #blah{
      
    max-width:320px;
  
  }

  .admin-service-category{
    margin-left: -20px;
  }
  
  .total-admin-badge{
    font-size: 15px !important;
    margin-left: -15px !important;
    margin-top: 5px;
  }
  .admin-add-new-service-btn, .admin-add-new-post-btn{
    padding: 1px;
    padding-left: 3px;
    padding-right: 2px;
  }


}