*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    color: #0F0402;
    
}

/* color to be used mandatory
address bar color = #00c4cc
.Blue-Sky-1-hex { color: #16193B; }
.Blue-Sky-2-hex { color: #35478C; }
.Blue-Sky-3-hex { color: #4E7AC7; }
.Blue-Sky-4-hex { color: #7FB2F0; }
.Blue-Sky-5-hex { color: #ADD5F7; }


.Blue-Sky-1-rgba { color: rgba(21, 24, 58, 1); }
.Blue-Sky-2-rgba { color: rgba(53, 70, 140, 1); }
.Blue-Sky-3-rgba { color: rgba(77, 122, 198, 1); }
.Blue-Sky-4-rgba { color: rgba(127, 177, 239, 1); }
.Blue-Sky-5-rgba { color: rgba(173, 212, 247, 1); }
*/
.navbar{
       background-color: transparent !important;
       box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
       padding-right: 200px;
       padding-left: 200px;
       z-index: 200;
}
.mobile_logo{
    display: none !important;
}
.btn-contact{

  color: white;
  border: 2px solid #00c4cc;  

}
.btn-contact:hover, .btn-contact:active{
    border: 2px solid transparent;
    background-color: white;
    color:#00c4cc ;

}

.nav-link
{
    color: white !important;
    font-size: 17px;
}
.navbar-toggler{
    background-color: #00c4cc;
    
}


.carousel
{
    margin-top: -120px; 
    overflow: hidden;
    
   
}
.carousel-inner{
    max-height: 700px;
    background: black;
    opacity: 0.9;
  
}
.carousel-item{
    z-index: -1; 
    opacity: 0.5;
   
}


.blurb{

   max-width: 100%;
   padding-bottom: 80px; 
   box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.box_card
{
    margin-top: -30px;
}
.card-title{
    font-weight: 300;
}

.fa { 
    padding-top:20px;
    padding-left:65%;
    color: #00c4cc;
}

.fa-envelope{

    color: #4E7AC7;
}

.fa-map-marker{
      color: #35478C;
}



.card_box{

   min-height:285px;
}

.card_box_1{
   
    background-color: #4E7AC7;
}
.card_box_2{
    background-color: #35478C;
}

.card_box_3, .list-group-flush {
    background-color: #16193B !important;
    color: whitesmoke !important;
    width: 100% !important;
}

.card-body-title , .card-body-text, .card-body-title2
{
    color: whitesmoke !important;
}

.card-body-title{
    padding-bottom: 10%;
}

.box_card{

    max-width: 70%;

}

.card-body-text-li{
    border-bottom-style: solid;
    border-bottom-color: whitesmoke;
 
}


.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.box-col
{
    padding-left: 0px;
    padding-right: 0px;
}

.jumbtron-head
{
    color:#35478C;
 
}

.jumbotron-fluid{
    background-color: transparent !important;
    
}
.jumbotron-contain{
    max-width: 70%;
}
.card-img-top-four-blurb
{
    padding-left: 2px;
    width: 60px;
    height: 60px;
    align-items: center;
}
.four-blurb-card
{
  border:none;
}
.four-blurb-back
{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.four-blurb-contain
{
    max-width: 70%;
  
   

}

.news-cour{
    padding-top: 40px;
    margin-bottom: 40px;
}
.page-item
{
    float: right;
}
.side-news{
    background-color: #16193B !important;
    color: whitesmoke;
    padding-top: 5%;
    max-width:25% ;
}

.side-news li{
    background-color: #16193B !important;
    color: whitesmoke;
}
.cat-main-news{
   font-size: 30px;
}

.pagination
{
    padding-right: 0.4em;
}
.news-serv{
    margin-top: -65px;
}
.news-head{
    color:#35478C;
}

.parallax {
    /* The image used */
    background-image: url("../images/health-workers-wearing-face-mask-3957987.jpg");
    opacity: 0.9;
    /* Full height */
    min-height: 500px;
    background-color: black;
    overflow: hidden;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.news-card
  {
    padding-bottom: 10px;
  }
.testi-head
  {
      padding-top: 40px;
     color: white;
  }
  .testi-head-sec{
      padding-bottom: 40px;

  }
  
.testimonials{
    max-width:1080px;  margin:-10px auto;
    padding-left:2rem;
  }
  .snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    text-align: left;
    box-shadow: none !important;
  }
  .snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
  }
  .snip1192 img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
  }
  .snip1192 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 50px 65px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  .snip1192 blockquote:before,
  .snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
  }
  .snip1192 blockquote:before {
    top: 35px;
    left: 20px;
  }
  .snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
  }
  .snip1192 .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    
  }
  .snip1192 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
    color:white;
  }
  .snip1192 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
    color:white;
  }
  
  
  .fullWidth {
    width: 100% !important;
    display: table;
    float: none;
    padding: 0;
    min-height: 1px;
    height: 100%;
    position: relative;
  }

  
  .projectFactsWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  #projectFacts .fullWidth{
    padding: 0;
  }
  
  .projectFactsWrap .item{
    width: 25%;
    height: 100%;
    padding: 10px 0px;
    text-align: center;
  }
  
  .projectFactsWrap {
    background-color:#00c4cc;
  }
  
  .projectFactsWrap .item p.number{
    font-size: 40px;
    padding: 0;
    font-weight: bold;
  }
  
  .projectFactsWrap .item p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
  
  }
  
  
  .projectFactsWrap .item span{
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
  }
  
  
  .projectFactsWrap .item i{
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .fa-smile-o, .fa-hospital-o, .fa-users,.fa-briefcase
  {
      padding-left: 0%;
  }
  .projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
    color: white;
  }
  
  .projectFactsWrap .item:hover span{
    background: white;
  }
  
  @media (max-width: 786px){
    .projectFactsWrap .item {
       flex: 0 0 50%;
    }
  }
  
  .doctor-container{
      margin-top: 80px;
      
  }

  .doctor-section{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
  }

  .prof{
    color:#35478C;
  }

.form-section{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
    margin-bottom: 20px;
}
  .form-container{

    margin-top: 50px;
   
    

  }
  .form-row{
      background-color: #16193B;
      padding: 60px;
      padding-top: 70px;
      padding-bottom: 70px;
  }

  .form-trans{
      background-color: transparent !important;
      margin-bottom: 30px;
      color: white;

  }

  ::placeholder {
    color: white !important;
  }

  .appointment-head{
    color: white;
    padding-bottom: 50px;
  }

  .brand{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .brand li {
    display: inline-block;
    white-space: nowrap;
   
  }
  .partner
  {
      padding-bottom: 2%;
      padding-left: 220px;
  }

  .subscriber-section
  {

    padding-top: 30px;
    background-color: #00c4cc;
  }
  .subscriber-section p, .footer-form{
      color: white;
  }
  .mailchimp{
    display: flex;
  }

  .prefooter{
      padding-top: 50px;
      padding-bottom: 50px;
        background-color: #16193B;
  }

  .footer-li
  {
    color: white;
      background-color: transparent;
  }

  .footer-form-col
  {
      padding-top: 30px;
  }

  .copyright
  {
    border-top: 2px solid whitesmoke;
      background-color: #24201A;
  }
  .copyright p{
      padding-top: 10px;
      color: white;
  }

  
#scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#00c4cc;
  color: white;
  cursor: pointer;
 
  border-radius: 4px;
}
.fa-angle-up
{ padding-left: 20px;
  padding-right:20px;
  padding-bottom:10px;
  padding-top: 3px;
  color: white;
}
#scrollTop:hover {
  background-color: #555;
}

  .important-links a , .social-links a{
    text-decoration: none;
    color: white;
  }
  .important-links a:hover, .important-links a:active, .social-links a:hover, .social-links a:active {
    color: rgb(202, 199, 199);
  }

  .about-hero{
    background-image: url("../images/technology-lens-laboratory-medical-60022.jpg");
    opacity: 1;
    /* Full height */
    min-height: 500px;
    overflow: hidden;
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -120px;
  
  }
  .about-hero-title{
    padding-top: 100px;
    color: white;
  }

  .about-hero-p{

    padding-top: 60px;
    color: white;
    text-align: justify;

  }
  .about-us-sec
  {
    max-width: 65%;
    margin-bottom: 40px;
    overflow: hidden;
  }
 
  .about-sec-one-img{
    background-image: url("../images/person-getting-his-blood-check-1350560.jpg");
    height: 400px;
    max-width: 600px;
  }
  .about-section-four
  {
    max-width: 600px;
    text-align: justify;
  }

  #myImg, #myImg2, #myImg3{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  #myImg2:hover {opacity: 0.7;}
  #myImg3:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal, .modal2, .modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content,.modal-content2, .modal-content3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption, #caption2, #caption3  {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content,.modal-content2,.modal-content3, #caption, #caption2, #caption3{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  .about-section-certificate{
    margin-bottom: 40px;
    margin-top: -40px;
  }
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content,.modal-content2,.modal-content3 {
      width: 100%;
    }
  }
  
@media screen and (min-width: 481px) and (max-width: 992px) {
    .navbar{      
        padding-left:10px;
        padding-right: 40px;
    }
    .carousel
    {
         margin-top: 0px;
    }
    .nav-link
    {
        color: #0F0402 !important;
    }
    .btn-contact{

        color: black;
    }
    .btn-contact:hover, .btn-contact:active{
        color: white;
        background-color:#00c4cc ;
    }
    .desktop_logo
    {
        display: none !important;
    }
    .mobile_logo{
        display: inline-block !important;
    }

    .fa {
    
        padding-top:0px;
        padding-left:20px;
    }
    .card-title{
       
        font-size: 18px;

    }
    .card-text{
        font-size: 14px;
      
    }
    .box_card{

        max-width: 100%;
    
    }
    .jumbotron-contain{
        max-width: 100%;
    }
 
    .four-blurb-contain
    {
        max-width: 100%;
      
       
    
    }
    

    .side-news{
        display: none;
   }
   .parallax {
    
    background-attachment: fixed;
  }


  .testimonials{
      margin: -10px auto;
      padding-left: 10vw;
  }
  .testimonials-three
  {
      display: none;
  }
  .news-head{
  display: none;
}
p{
    margin-bottom: 0 !important;
 }


  .partner
  {
      padding-bottom: 2%;
      padding-left: 70px;
  }
  .about-hero{
    margin-top: 0px;
  }
  .about-us-sec
  {
    max-width: 100%;
    margin-bottom: 40px;
  }
 
}
@media screen and (max-width: 480px)  {
    .navbar{
        padding-left:10px;
        padding-right: 40px;
    }
    .carousel
    {
         margin-top: 0px;
    }
    .nav-link
    {
        color: #0F0402 !important;
    }
    .btn-contact{

        color: black;
    }
    .btn-contact:hover, .btn-contact:active{
        color: white;
        background-color:#00c4cc ;
    }
    .desktop_logo
    {
        display: none !important;
    }
    .mobile_logo{
        display: inline-block !important;
    }
    .fa {
        padding-top:0px;
        padding-left:20px;
    }
    .card-title{
        font-size: 18px;

    }
    .card-text{
        font-size: 14px;
    }
    .box_card{

        max-width: 100%;
    
    }
    .jumbotron-contain{
        max-width: 100%;
    }
    
    .four-blurb-contain
    {
        max-width: 100%;     
    
    }
    
    .side-news{
        display: none;
   }

  .news-head{
    display: none;
  }
    
   .parallax {
    background-attachment: scroll;

  }
  .testimonials{
    margin: -10px auto;
    padding-left: 9vw;
}
  .testimonials-three,.testimonials-two
  {
      display: none;
  }
  .partner
  {
      padding-bottom: 2%;
      padding-left: 0px;
      text-align: center;
  }
  .about-hero{
    margin-top: 0px;
  }
  .about-us-sec
  {
    max-width: 100%;
    margin-bottom: 40px;
  }
 
}
